{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block header %}
    {% include "logined_header.html" %}
{% endblock header %}
{% block custom_css %}
{% endblock custom_css %}
{% block main_content %}
<div class="row">
    <div class="container">
        <div class="col-md4">
            <a class="nav-link" href="/director/check_cars/{{username}}/">Доступные машины</a><br>
            <a class="nav-link" href="/director/car_order/{{username}}/">Заказать машину</a><br>
            <a class="nav-link" href="/director/add_staff/{{username}}/">Добавить сотрудника</a><br>
            <a class="nav-link" href="/director/check_staff/{{username}}/">Прсомтреть сотрудников</a><br>
            <a class="nav-link" href="/director/salary_changes/{{username}}/">Изменить оплату</a><br>
            <a class="nav-link" href="/director/check_recievers/{{username}}/">Проверить покупателей</a><br>
            <a class="nav-link" href="/director/finance_statistics/{{username}}/">Статистика</a><br>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block side_script %}
{% endblock side_script %}